* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 98%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: sans-serif;
}

#bulbOn img {
  transform: scaleX(-1);
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.container {
  position: relative;
}

.container #bulbOff,
#bulbOn {
  position: absolute;
  top: 3;
  left: 40%;
}

.container #switch {
  position: absolute;
  top: 3;
  left: 60%;
}