* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 98%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: sans-serif;
}

.bulb-align {
  text-align: center;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}